<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LSLanguagePhpExtention.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LSLanguagePhpExtention.Properties.Settings>
            <setting name="ExportLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultClass" serializeAs="String">
                <value>class Language\r\n{\r\n\r\n     const base_language = Languages::{langKey};\r\n\r\n   {translationAll}    public function __construct(Languages $lang = Languages::{langKey})\r\n    {\r\n        Session::delete(\"Language\");\r\n        Session::set(\"Language\", $lang);\r\n        $this-&gt;loadLanguage($lang-&gt;value);\r\n    }\r\n\r\n    private function loadLanguage($langPos)\r\n    {\r\n        $jsonData = file_get_contents(GetDocumentRoot() . '/libs/languages/' . $langPos . '.json');\r\n        $data = json_decode($jsonData, true)[0];\r\n        foreach ($data as $key =&gt; $value) {\r\n            self::$$key = $value;\r\n        }\r\n    }\r\n\r\n    public static function GetLanguage()\r\n    {\r\n        return !empty( Session::get(\"Language\")) ? Session::get(\"Language\"): self::base_language;\r\n    }\r\n\r\n}</value>
            </setting>
            <setting name="DefaultTranslation" serializeAs="String">
                <value>public static ${dictKey} = \"\";\r\n\r\n</value>
            </setting>
        </LSLanguagePhpExtention.Properties.Settings>
    </userSettings>
</configuration>